*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

body{
    background-color: #EBD9A8;
}

/* Container */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
   margin: 0 auto;
   
}

/* top of topSection */

.topContainer{
    width: 100%;
    height: 100vh;
    background: url('https://images.pexels.com/photos/3997609/pexels-photo-3997609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center center;
    background-size: cover cover;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}


.topContainer .navbar{
    margin-top: 2.5%;
    width: 100vh;
    display: inline-block;
    color: #000;
    text-align: center;
}


.topContainer .navbar a{
    z-index: 500;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 5px;
    transition: all .2s ease-in-out;
}

.topContainer .navbar .active{
    border-bottom: 2px solid #fff;
}

.topContainer .navbar a:hover{
    border-bottom: 2px solid #fff;
}



.topContainer .logo-container{
    z-index: 100;
    color: #fff;
    padding: 10px;
    letter-spacing: 5px;
    font-size: 50px;
    text-transform: uppercase;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 5%;
    cursor: pointer;
}

.topContainer .homeTxtcontainer{
    position: relative;
    display: inline-block;
    flex-direction: row-reverse;
    top: 20%;
    right: 0%;
    bottom: 50%;
    width: 50%;
}

.topContainer .homeTxtcontainer .homeText{
    z-index: 800;
    color: #fff;
    font-size: 55px;
    letter-spacing: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.topContainer .homeTxtcontainer .buttonContainer{
    padding: 10px 15px;
}

.topContainer .homeTxtcontainer .buttonContainer button{
    font-size: 35px;
    padding: 20px 25px;
    cursor: pointer;
    background-color: #b42727;
    color: #fff;
    border-radius: 10%;
    border: 2px solid #000;
    transition: all .4s ease-in-out;
    margin-top: 10%;
}

.topContainer .homeTxtcontainer .buttonContainer button:hover{
    color: #b42727;
    background-color: #000;
}

/* end of topSection */


/****************************************************/


/* top of midSection */

.midContainer{
    display: flex;
    flex-direction: column;
    
}

.aboutContainer{
    display: flex;
    justify-content: center;
}

.midContainer .aboutContainer {
    display: flex;
   flex-direction: row;
   margin: 5%;
}


.aboutContainer .aboutText{
    font-size: 25px;
    text-align: center;
}
.aboutContainer .midImage1{
    background: url('https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: contain;
    background-position: center center;
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    position: absolute;
}

.aboutContainer .rectangle1{
    background-color: gold;
    width: 1000px;
    height: 235px;
    position: absolute;
    top: 128%;
}

.aboutContainer .dialogue-mid{
    padding: 20px 15px;
    text-align: left;
    margin-top: 20%;
}

.aboutContainer .dialogue-mid h1{
    font-size: 40px;
}


.aboutContainer .dialogue-mid h1, h4, p, a{
    padding: 10px;
    line-height: 30px;
    position: relative;
}

.detailsContainer{
    display: flex;
    flex-direction: row;
    margin-top: 35%;
   
}

.detailsContainer .quality, .ingredients, .grill{
    text-align: center;
    width: 100%;
    height: 200px;
    font-size: 25px;
    color: #b42727;
    background-color: #E6CD82;
    padding-top: 50px;
    border-top: 5px solid #b42727;
    border-bottom: 5px solid #b42727;
}

/* end of midSection */

/* start of contentSection */

.menuContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.contentContainer .menuContainer .dinner{
    background: url('https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 300px;
    width: 600px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.contentContainer .menuContainer .lunch{
    background: url('https://images.pexels.com/photos/1639562/pexels-photo-1639562.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 300px;
    width: 600px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.contentContainer .menuContainer .bar{
    background: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 300px;
    width: 600px;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}

.contentContainer .menuContainer .dessert{
    background: url('https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 300px;
    width: 600px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.contentContainer .menuContainer .dinner, .lunch, .bar, .dessert a{
    text-align: center;
    padding-top: 10%;
}

.contentContainer .menuContainer 
.dinner, 
.lunch, 
.bar, 
.dessert{
    transition: all .4s ease-in-out;
    margin: 5px;
    letter-spacing: 4px;
}

.contentContainer .menuContainer a, .fa-utensils{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 5px;
}

.contentContainer .menuContainer .dessert:hover{
    filter: brightness(30%);
}

.contentContainer .menuContainer .dinner:hover{
    filter: brightness(30%);
}

.contentContainer .menuContainer .bar:hover{
    filter: brightness(30%);
}

.contentContainer .menuContainer .lunch:hover{
    filter: brightness(30%);
}

/* */

.contentContainer .menuContainer .dessert a{
    border: 5px solid #fff;
    margin: 20px;
    padding: 50px;
    z-index: 900;
}

.contentContainer .menuContainer .dinner a{
    border: 5px solid #fff;
    margin: 20px;
    padding: 50px;
    z-index: 900;
}

.contentContainer .menuContainer .bar a{
    border: 5px solid #fff;
    margin: 20px;
    padding: 50px;
    z-index: 900;
}

.contentContainer .menuContainer .lunch a{
    border: 5px solid #fff;
    margin: 20px;
    padding: 50px;
    z-index: 900;
}

#event{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

#event h1{
    font-size: 60px;
    letter-spacing: 5px;
    width: 35%;
    padding: 5px;
    margin-bottom: 10%;
}

#event .eventInfo{
    display: flex;
    flex-direction: column-reverse;
}

#event .eventDate{
    display: flex;
    flex-direction: row;
    color: #b42727;
}

#event .eventDate h5{
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
    border-left: 3px solid #000;
    padding: 10px;
    margin: 10px;
    text-align: center;
    
}

#event .eventImg{
    background: url('https://velikorodnov.com/html/steakbreak/images/763x648_img1.png');
    width: 1200px;
    height: 500px;
    background-position: center center;
    background-size: cover;
}